$path : "../../assets/img/newstock/";
$primary: #f44336;

// white
$white: #ffffff;
// black
$black: #000000;

//red
$red: #c52728;
$red2: #d7001b;
$red3: #ee6655;
$red4: #de1929;
$red5: #af352f;
$red6: #b87a6f;
// grey
$grey : #e6e6e6;
$grey2: #cccccc;
$grey4: #f5f5f5;
$grey6: #999999;
$grey7: #888888;
$grey8: #333333;
$grey9: #666666;
$grey10: #808080;
$grey11: #fcfcfc;
$grey12: #797979;
$grey13: #acacac;
$grey14: #F7F7F7;

// blue
$blue: #53a2e1;
$blue1: #2ea3e7;
$blue2: #e9f3fa;
//info
$info: #53a2e1;

//green
$green: #368322;


