$path : "../../assets/img/newstock/";
$primary: #f44336;

// white
$white: #ffffff;
// black
$black: #000000;

//red
$red: #c52728;
$red2: #d7001b;
// grey
$grey : #e6e6e6;
$grey2: #cccccc;
$grey4: #f5f5f5;
$grey6: #999999;
$grey7: #888888;
$grey8: #333333;
$grey9: #666666;

// blue
$blue: #53a2e1;
//info
$info: #53a2e1;

//green
$green: #368322;


